.header {
    height: 110px;
    font-size: 20px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
}

.logo {
    height: 125px;
}

.nav-bar {
    height: 70px;
    width: 1100px;
    border: 3px gray solid;
    border-radius: 50px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.logout-button {
    padding: 5px 20px;
    font-size: 18px;
    color: white;
    background-color: deepskyblue;
    border: none;
    border-radius: 5px;
}
